.myimg {
  width: 150px;
  height: 120px;
}
#title {
  border-style: groove none groove none;
}

#divLeft {
  position: relative;
}

#RowAjt {
  position: absolute;
  bottom: 20px;
}

#divcenter {
  padding: 5px 30px 10px 30px;
}

#LabelsEquipes {
  padding-top: 10px;
}

#Equipes {
  padding-bottom: 10px;
}

#divcenter1 {
  padding-right: 5px;
  height: 250px;
}

#divcenter2 {
  padding-left: 5px;
  height: 250px;
}

#RowAnlEng {
  padding-top: 20px;
  padding-right: 30px;
}

#divrighttop {
  padding-top: 15px;
  height: 125px;
}

#divrightbottem {
  padding-top: 15px;
  height: 255px;
}

#parg {
  padding-top: 20px;
}

#RowRadio {
  padding-top: 10px;
}

.divborderbottom {
  border-style: none none groove none;
}

.Big3Div {
  height: 400px;
}

ul {
  list-style-type: none;
  padding-top: 15px;
}

button {
  width: 100px;
}

div.divborder {
  border-style: solid;
  border-color: #b4b4b4;
  border-width: 1px;
}
label {
  width: 10000px;
  display: inline-block;
}
